Environment
- CPU:         1 Core
- RAM:         1 GB
- Storage:     25 GB
- Volumes:     0
- Encrypted:   Yes
- OS:         Ubuntu 24.04 LTS
- new packages install - auto approve
- update sustem rarely

# My Info
- My name: Mohammad Hossein Golestan
- My email: golestan1369@gmail.com


# Project
- Repo url: https://github.com/mhgolestan/Cursor-Django
- Repo Root: /opt/curser/projects/cursor-django
- Runtime: Python 3.12
- Python environment: ´vene´ at  /opt/curser/projects/cursor-django/venv
- Django root folder: ´src´
- Django project name: ´cursor_django´
- Django runserver command: ´gunicorn --reload --bind 0.0.0.0:8000 src.cursor_django.wsgi:application --reload --pythonpath .´
- Systemd background service file: ´config/cursor-django.service´
- Environment variables manaer: ´python-decouple´